.card-wrapper {
  border-radius: $card-border-radius-bg;
  display: flex;
  max-width: 515px;
  overflow: hidden;

  @media (max-width: $bp-phone) {
    border-radius: $card-border-radius-sm;
    flex-direction: column;
    max-width: 250px;
  }
}
.card-image-container {
  align-items: center;
  display: flex;
  flex: 1.25;
  justify-content: center;
  padding: 1em;
}
.card-image {
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;

  @media (max-width: $bp-phone) {
    width: 70%;
  }
}
.card-body {
  background-color: $color-white;
  color: $color-black;
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 1.5em;

  @media (max-width: $bp-phone) {
    padding: 1em;
  }
}
.card-header {
  display: flex;
  justify-content: space-between;

  & button {
    background-color: transparent;
    border-radius: 5px;
    border: 0px solid transparent;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: ease-in-out 150ms;

    &:focus {
      outline-color: $color-purple;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.99);
    }

    @media (max-width: $bp-phone) {
      padding-inline: 4px;
    }
  }
}
.header-lg {
  display: flex;

  @media (max-width: $bp-phone) {
    display: none;
  }
}
.header-sm {
  display: none;

  @media (max-width: $bp-phone) {
    display: flex;
  }
}
.card-header-label {
  @extend %title-14;

  color: $color-muted;
  text-transform: uppercase;
}
.card-header-icon {
}
.card-title {
  @extend %title-30;

  @media (max-width: $bp-phone) {
    text-align: center;
  }
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  padding: 0;

  @media (max-width: $bp-phone) {
    display: none;
  }
}
.card-spec {
  @extend %description-14;

  span {
    color: #374a59;
  }
}

.card-gryffindor {
  background: $theme-gryffindor;
}
.card-hufflepuff {
  background: $theme-hufflepuff;
}
.card-ravenclaw {
  background: $theme-ravenclaw;
}
.card-slytherin {
  background: $theme-slytherin;
}
