.nav {
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(-200%);
  animation: nav-slice-in 500ms ease 500ms forwards;

  @media (max-width: $bp-phone) {
    bottom: 0;
    top: auto;
    transform: translateY(200%);
  }
}
.nav-container {
  display: flex;
  justify-content: center;
}
.nav-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 1030px;

  @media (max-width: $bp-phone) {
    justify-content: center;
  }
}
.nav-buttons-wrapper {
  display: flex;
  position: relative;
}
.nav-button {
  @extend %title-14;

  align-items: center;
  background-color: $color-purple;
  border: 1px solid transparent;
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  color: white;
  cursor: pointer;
  display: flex;
  gap: 0.3em;
  letter-spacing: 0.2em;
  outline: 3px solid transparent;
  text-transform: uppercase;
  transition: ease-in-out 150ms;
  padding-inline: 1em;
  padding-block: 0.25em;
  z-index: 99;

  &:focus {
    outline-color: $color-normal;
  }
  &:hover {
    transform: scale(1.03);
  }
  &:active {
    background-color: $color-purple;
    transform: scale(0.99);
  }

  &:first-child {
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-bottom-right-radius: 5px;
  }

  @media (max-width: $bp-phone) {
    box-shadow: 0 -4px 4px rgba($color: #000000, $alpha: 0.25);
    padding-inline: 1.5em;
    padding-block: 0.25em;

    &:first-child {
      border-bottom-left-radius: 0px;
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 5px;
    }
  }
}
.nav-button-label {
}
.nav-button-icon {
}
.separator {
  background-color: $color-black;
  height: 100%;
  width: 1px;
  z-index: 99;
}

@keyframes nav-slice-in {
  100% {
    transform: translateY(0em);
  }
}
